<form [formGroup]="form" autocomplete="off">
  <label for="firstname">Firstname *</label>
  <input id="firstname" [formControlName]="FIRSTNAME">

  <label for="lastname">Lastname *</label>
  <input id="lastname" [formControlName]="LASTNAME">
</form>

<ul>
  <li>
    <a href="" (click)="onCommunicationAdd($event)">Add new communication</a>
  </li>
  <li>
    <a [wbRouterLink]="{entity: 'communication', presentation: 'list', contactId: contact.id}"
       [wbRouterLinkExtras]="{matrixParams: {contactFullName: contact.firstname + ' ' + contact.lastname}}">
      Open communications
    </a>
  </li>
</ul>
