:host {
  > div.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    border: 2px solid darkgoldenrod;

    div.inner {
      border: 2px solid darkred;
      width: 300px;
      height: 200px;
    }

    > div.small-square {
      width: 20px;
      height: 20px;
      margin: 5px;
      background-color: darkgreen;
    }
  }
}
